/* CUSTOM CSS KELEBEK FALI */

body {
    background: #eeeeee;
}

.logo img {
    margin-top: 30px;
    width: 350px;
    cursor: pointer;
}

.intro {
    background-color: #5A0B0E;
}

.cards {
    padding: 0px;
    border-radius: 12px;
    margin: 1px 0 1px 0;
}


.opc {
opacity: 0.0;
}

.frame {
    position: absolute;
    top: 20%;
    right: 25%;
    left: 25%;
    padding: 40px;
    background-color: #49A39C;
    border: solid 5px white;
    border-radius: 20px;
    -webkit-box-shadow: 4px 2px 43px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 43px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 2px 43px 0px rgba(0, 0, 0, 0.75);
    height: auto;
    background-image: url(../img/intro.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9999;
}

.frame img {
    -webkit-box-shadow: 1px 0px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 21px 0px rgba(0,0,0,0.75);
}

.jumbotron {
    background: #eaeaea !important;
}

button.replay {
    margin-bottom: 20px;
}


button.home {
    position: absolute;
    bottom: 47%;
    left: 13%;
}


.fb-share-button {
    position: absolute !important;
    bottom: 55%;
    left: 17%;
}


.frame h4 {
    color: #fff !important;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 35px;
}

.frame i {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 30px;
    right: 170px;
}

.frame h3 {
    color: white;
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 50px;
}

.jumbotron h1 {
    color: #a9a6a6;
}

.jumbotron p {
    font-size: 14px;
}

h2.object_h2 {
    font-size: 20px;
}

h3.object_h3 {
    color: #2eb52e;
    font-size:20px;
    border-bottom: solid 2px rgba(173, 169, 169, 0.39);
    margin-bottom: 20px;
}

.start {
    z-index: 10000;
}

.board {
    position: absolute;
    right: 17%;
    top: 21%;
    border-top-left-radius: 30px !important;
    z-index: 0;
}

.card-result img {
    width: 50px;
}


/*cards_resualt*/

.one_two {
    position: absolute;
    left: 14%;
    top: 10%;
}

.two_three {
    position: absolute;
    left: 29%;
    top: 10%;
}

.three_four {
    position: absolute;
    left: 44%;
    top: 10%;
}
.four_five {
    position: absolute;
    left: 59%;
    top: 10%;
}

.five_six {
    position: absolute;
    left: 74%;
    top: 10%;
}


.six_seven {
    position: absolute;
    right: 7%;
    top: 20%;
}


.seven_eight {
    position: absolute;
    left: 14%;
    top: 31%;
}

.eight_nine {
    position: absolute;
    left: 14%;
    top: 33%;
}

.nine_teen {
    position: absolute;
    left: 29%;
    top: 33%;
}

.teen_eleven {
    position: absolute;
    left: 44%;
    top: 33%;
}

.eleven_twelve {
    position: absolute;
    left: 59%;
    top: 33%;
}

.twelve_thirteen {
    position: absolute;
    left: 75%;
    top: 33%;
}

.thirteen_fourteen {
    position: absolute;
    left: 13%;
    top: 51%;
}

.fourteen_fifteen {
    position: absolute;
    left: 13%;
    top: 53%;
}

.fifteen_sixteen {
    position: absolute;
    left: 29%;
    top: 54%;
}

.sixteen_seventeen {
    position: absolute;
    left: 44%;
    top: 55%;
}

.seventeen_eighteen {
    position: absolute;
    left: 59%;
    top: 54%;
}


.eighteen_nineteen {
    position: absolute;
    left: 73%;
    top: 54%;
}


.nineteen_twenty {
    position: absolute;
    left: 13%;
    top: 73%;
}

.twenty_twentyone {
    position: absolute;
    left: 14%;
    top: 75%;
}

.twentyone_twentytwo {
    position: absolute;
    left: 29%;
    top: 77%;
}

.twentytwo_twentythree {
    position: absolute;
    left: 44%;
    top: 77%;
}

.twentythree_twentyfour {
    position: absolute;
    left: 59%;
    top: 77%;

}


/*remaining*/

.six_one {
    position: absolute;
    left: 74%;
    top: 77%;
}

.twentytwo_four {
    position: absolute;
    left: 81%;
    top: 44%;
}


/*Other Objects*/



.one_seven {
    position: absolute;
    left: 6%;
    top: 21%;
}

.two_eight {
    position: absolute;
    left: 21%;
    top: 21%;
}

.three_night {
    position: absolute;
    left: 36%;
    top: 21%;

}

.three_nine {
    position: absolute;
    left: 52%;
    top: 21%;
}


.four_teen {
    position: absolute;
    left: 66%;
    top: 21%;
}

.five_eleven {
    position: absolute;
    left: 81%;
    top: 21%;
}

.six_twelve {
    position: absolute;
    left: 7%;
    top: 44%;
}

.seven_thirteen {
    position: absolute;
    left: 22%;
    top: 44%;
}

.eight_fourteen {
    position: absolute;
    left: 36%;
    top: 43%;
}

.nine_fifteen {
    position: absolute;
    left: 52%;
    top: 43%;
}

.teen_sixteen {
    position: absolute;
    left: 67%;
    top: 43%;
}

.eleven_seventeen {
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 40%;*/

    position: absolute;
    left: 82%;
    top: 41%;
}

.thirteen_nineteen {
    position: absolute;
    left: 7%;
    top: 65%;
}

.fourteen_twenty {
    position: absolute;
    left: 22%;
    top: 65%;
}

.fifteen_twentyone {
    position: absolute;
    left: 37%;
    top: 65%;
}

.sixteen_twentytwo {
    position: absolute;
    left: 52%;
    top: 65%;
}

.seventeen_twentythree {
    position: absolute;
    left: 66%;
    top: 67%;
}

.eighteen_twentyfour {
    position: absolute;
    left: 82%;
    top: 65%;
}



/*card resualt3*/



.nineteen_one {

    position: absolute;
    left: 6%;
    top: 21%;

}

.twenty_two {
    position: absolute;
    left: 21%;
    top: 21%;
}

.twentyone_three {
    position: absolute;
    left: 36%;
    top: 21%;
}

twentytwo_four {
    position: absolute;
    left: 52%;
    top: 21%;
}

.twentythree_five {
    position: absolute;
    left: 52%;
    top: 21%;
}





    /*Mobile */




.c_r {
    box-shadow: none !important;
}


.intro-mobile img {
    position: absolute;
    top: 0;
    z-index: 10000;
}


@media screen and (min-width: 478px) {

    .intro-mobile img {
        display: none;
    }
}


/* MEDIA responsive */


@media screen and (max-width: 478px) {
    .frame {
        right: 5%;
        left: 0;
        padding: 15px;

    }

    .home {
        display: none;
    }
    .fb-share-button {
        display: none;
    }

}

/* responsive text queries */
@media screen and (max-width: 992px) {
    p, .btn, input, div, span, h4 {
        font-size: 95%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    p, .btn, input, div, span, h4 {
        font-size: 90%;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 10px;
    }
}

.board_mobile {
    margin-top: 300px;
}

/* Frame Media */

@media (min-width: 2000px) and (max-width: 2200px) {
    .frame {
        height: 620px;

    }

    .start {
        right: 51%;
        position: absolute;
        top: 70%;
    }

    button.home {
        position: absolute;
        bottom: 47%;
        right: 8%;
    }
}

@media (min-width: 1900px) and (max-width: 1999px) {

    .start {
        right: 50%;
        position: absolute;
        top: 85%;
    }

}

@media (min-width: 1800px) and (max-width: 1899px) {

    .start {
        right: 50%;
        position: absolute;
        top: 70%;
    }

}

@media (min-width: 1700px) and (max-width: 1799px) {
    .start {
        right: 50%;
        position: absolute;
        top: 90%;
    }

}

@media (min-width: 1700px) and (max-width: 1999px) {
    .frame {
        height: 550px;
    }

    .start {
        right: 50%;
        position: absolute;
        top: 85%;
    }

}

@media (min-width: 1600px) and (max-width: 1699px) {
    .frame {
        height: 510px;

    }

    .start {
        right: 50%;
        position: absolute;
        top: 80%;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) {
    .frame {
        height: 450px;
    }

    .start {
        right: 50%;
        position: absolute;
        top: 70%;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .frame {
        height: 420px;

    }

    .start {
        right: 48%;
        position: absolute;
        top: 55%;
    }

    .c_r {
        width: 70px;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) {
    .frame {
        height: 410px;
    }

    .start {
        right: 47%;
        position: absolute;
        top: 65%;
    }
}

@media (min-width: 1200px) and (max-width: 1299px) {
    .frame {
        height: 400px;
    }

    .start {
        right: 47%;
        position: absolute;
        top: 55%;
    }
    .jumbotron {
        margin-top: 0;
    }

    button.home {
        bottom: -20%;
        left: 14%;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    .frame {
        height: 520px;
    }

    .start {
        right: 35%;
        position: absolute;
        top: 80%;
    }

    .jumbotron {
        margin-top: 250px;
    }

    button.home {
        bottom: -20%;
        left: 14%;
    }

}

@media (min-width: 1000px) and (max-width: 1199px) {
    .frame {
        height: 520px;
    }

    .start {
        right: 33%;
        position: absolute;
        top: 80%;
    }

    .jumbotron {
        margin-top: 250px;
    }


    button.home {
        bottom: -20%;
        left: 14%;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    .frame {
        height: 480px;
    }

    .start {
        right: 33%;
        position: absolute;
        top: 70%;
    }

    .jumbotron {
        margin-top: 250px;
    }


    button.home {
        bottom: -20%;
        left: 14%;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .frame {
        height: 430px;
    }

    .start {
        right: 33%;
        position: absolute;
        top: 65%;
    }

    .jumbotron {
        margin-top: 250px;
    }


    button.home {
        bottom: -20%;
        left: 14%;
    }
}

@media (min-width: 700px) and (max-width: 799px) {
    .frame {
        height: 500px;
    }

    .start {
        right: 32%;
        position: absolute;
        top: 70%;
    }

    .jumbotron {
        margin-top: 250px;
    }


    button.home {
        bottom: -20%;
        left: 14%;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    .frame {
        height: 450px;
    }

    .start {
        right: 25%;
        position: absolute;
        top: 70%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .frame {
        height: 390px;
    }

    .start {
        right: 23%;
        position: absolute;
        top: 60%;
    }
    .c_r {
        width: 60px;
    }

    .fb-share-button {
        bottom: 0;
        left: 5%;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    body {
        background: #009688;
    }

    .frame {
        background: none;
        border: none;
        box-shadow: none;
    }



    .c_r {
        width: 50px;
    }

    button.home {
        position: absolute;
        left: 4%;
        bottom: 9%;
    }


    .start {
        right: 19%;
        position: absolute;
        top: 72%;
        z-index: 100000;
    }
    button.home {
        position: absolute;
        left: 35%;
    }

    .fb-share-button {
        bottom: 0;
        left: 5%;
    }
}

@media (min-width: 450px) and (max-width: 499px) {
    body {
        background: #bf2e34;
    }

    .logo img {
        margin-top: 20px;
        width: 200px;
        cursor: pointer;
    }

    .frame {
        top: 15%;
        background: none;
        border: none;
        box-shadow: none;
    }

    .start {
        left: 27%;
        position: absolute;
        top: 25%;
        z-index: 100000;
    }

    button.btn.btn-success {
        font-size: 20px;
    }

    button.home {
        position: absolute;
        left: 35%;
    }

    .c_r {
        width: 50px;
    }

    button.home {
        position: absolute;
        left: 4%;
        padding: 5px;
        bottom: 13%;
        font-size: 10px;
    }

    .fb-share-button {
        top: 3%;
        left: 70%;
    }


}

@media (min-width: 400px) and (max-width: 449px) {
    body {
        background: #009688;
    }

    .frame {
        top: 15%;
        background: none;
        border: none;
        box-shadow: none;
    }

    .start {
        left: 27%;
        position: absolute;
        top: 25%;
        z-index: 100000;
    }

    .logo img {
        margin-top: 20px;
        width: 200px;
        cursor: pointer;
    }

    .fb-share-button {
        top: 3%;
        left: 70%;
    }

    button.btn.btn-success {
        font-size: 18px;
    }

    button.home {
        position: absolute;
        left: 4%;
        padding: 5px;
        bottom: 1%;
        font-size: 10px;
    }

    .c_r {
        width: 50px;
    }

    .container {
        padding-left: none !important;
        padding-right: none;
    }
}

@media (min-width: 350px) and (max-width: 399px) {

    body {
        background: #bf2e34;
    }

    .frame {
        top: 15%;
        background: none;
        border: none;
        box-shadow: none;
    }

    .start {
        left: 27%;
        position: absolute;
        top: 25%;
        z-index: 100000;
    }

    button.btn.btn-success {
        font-size: 15px;
    }

    .fb-share-button {
        top: 3%;
        left: 70%;
    }

    button.home {
        position: absolute;
        left: 4%;
        padding: 5px;
        bottom: -13%;
        font-size: 10px;
    }

    .logo img {
        margin-top: 20px;
        width: 200px;
        cursor: pointer;
    }

    .c_r {
        width: 50px;
    }
}

@media (min-width: 300px) and (max-width: 349px) {
    body {
        background: #bf2e34;
    }

    .frame {
        top: 15%;
        background: none;
        border: none;
        box-shadow: none;
    }

    .start {
        left: 27%;
        position: absolute;
        top: 25%;
        z-index: 100000;
    }



    button.btn.btn-success {
        font-size: 15px;
    }

    button.home {
        position: absolute;
        left: 4%;
        padding: 5px;
        bottom: 20%;
        font-size: 10px;
    }

    button.home {
        position: absolute;
        left: 5%;
        bottom: -46%;
    }

    .logo img {
        margin-top: 20px;
        width: 200px;
        cursor: pointer;
    }

    .c_r {
        width: 50px;
    }

    .fb-share-button {
        top: 3%;
        left: 70%;
    }
}

@media (min-width: 200px) and (max-width: 299px) {
    .frame {
        top: 15%;
        background: none;
        border: none;
        box-shadow: none;
    }

    .c_r {
        width: 50px;
    }

    button.home {
        position: absolute;
        left: 4%;
        padding: 5px;
        bottom: 13%;
        font-size: 10px;
    }

    .start {
        left: 27%;
        position: absolute;
        top: 25%;
        z-index: 100000;
    }

    .fb-share-button {
        top: 3%;
        left: 70%;
    }

    .logo img {
        margin-top: 20px;
        width: 200px;
        cursor: pointer;
    }
}

